html {
	font-family: 'Kaushan Script', cursive;
	line-height: 150%;
}

body {
	background-image: url("./map.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
}
